Olá, <strong>{{provider}}</strong>
<p>Cancelaram o serviço. Se liga ai:</p>
<p>
  <strong>Cliente: </strong> {{user}} <br />
  <strong> Tava marcado pra: </strong> {{date}} <br />
  <small>
    Agora você está livre.
  </small>
</p>
